# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
ENV/
build/
dist/
*.egg-info/

# Virtual environments
/.venv

# IDEs
.vscode/
.idea/

# Environment files
.env

# OS files
.DS_Store

# Logs
*.log

# Data files
*.sqlite3
*.db

# Excel exports
*.xlsx